* {
  box-sizing: border-box;
}

html {
  height: 500vh;
}

body {
  padding: 0;
  margin: 0;
  background: none;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}

h1,
p {
  margin: 0;
}

p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* NAVBAR */

.navbar {
  /* background: rgba(0, 0, 0, 1); */
  margin: 0;
  border: 2px solid red;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar button {
  color: #575757;
  background: #f1f1f1;
  padding: 10px 30px;
  border-radius: 10px;
}

.container-nav {
  display: flex;
  margin: 0 auto;
  border: 2px solid red;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.container-nav ul {
  padding: 0;
}

.navbar-nav {
  border: 2px solid red;
  display: flex;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-nav a:hover {
  color: #8f8f8f;
}

.navbar-nav a:active {
  color: #575757;
}

.navbar-nav li {
  padding: 10px;
  list-style-type: none;
}

.logo {

  border: 2px solid red;
  width: 5%;
}

.logo img {
  filter: invert(1);
  width: 100%;
  color: #f1f1f1;
}

/*SOBRE*/
.container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 1fr;
  margin: 40px auto;
}

.content {
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.image {
  float: left;
  margin-right: 20px;
  width: 30%;
}

.responsive-image {
  display: none;
  width: 80%;
  margin: 40px auto 0px auto;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-rows: 1fr 5fr 5fr;

}

.input-wrapper {
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid white;
  padding: 5px 15px;
}

.input-wrapper input {
  background: none;
  border: none;
  width: 100%;
}

.input-wrapper span {
  cursor: pointer;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.noticia {
  border-radius: 10px;
  background: white;
}

/*Form*/

.form {
  border: 2px solid red;
}

/*Footer*/

/*BACKGROUND*/
.background {
  height: 100vh;
  background-image: url(imagens/background.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #f1f1f1;
  padding: 50px;
  margin-top: 30px;
}


/* @media (max-width: 576px) {} */

@media (max-width: 768px) {
  .responsive-image {
    display: block;
  }

  .image {
    display: none;
  }
}

@media (max-width: 992px) {}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1400px) {}